<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0e sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href={{"/"  | relative_url}} title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src={{'/public/js/script.js' | relative_url }}></script>
    <script src={{"/js/jquery.min.js" | relative_url }}></script>
    {% include add-to-homescreen.html %}
  </body>
</html>
